server:
  port: 8087
spring:
  application:
    name: ead-authuser-service
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/ead-authuser
    username: postgres
    password: root
    driverClassName: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
      jdbc:
        lob.non-contextual-creation: true
      dialect: org.hibernate.dialect.PostgreSQLDialect
  output:
    ansi:
      enabled: Always
logging:
  level:
    com.ead: DEBUG

ead:
  api:
    url:
      course: 'http://localhost:8082'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka








