server:
  port: 8082
spring:
  application:
    name: ead-course-service
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/ead-course
    username: postgres
    password: root
    driverClassName: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
      jdbc:
        lob.non-contextual-creation: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

ead:
  api:
    url:
      authuser: 'http://localhost:8087'

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


